/* Set the background color to black */
body {
  background-color: #000000;
}

/* Style the container for the game */
.container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

/* Style the heading */
h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #black;
  text-align: center;
}

/* Style the buttons */
button {
  background-color: #fff;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

button:hover {
  background-color: #ff7f50;
  color: #fff;
  cursor: pointer;
}

/* Style the result text */
p {
  margin-top: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  text-stroke: 5px #000;
  -webkit-text-stroke: 1px #000; /* For Safari */
}
